/* Elimina el scroll lateral */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

/* Fondo de la app */
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("./img/hk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: "Dancing Script", cursive;
  position: relative;
  overflow: hidden; /* Asegura que no haya scroll extra */
  padding: 20px;
  box-sizing: border-box; /* Evita problemas de tamaño */
}
